

<div class="row">
  <div class="col col-md-7">
    <form #formularioPersona='ngForm' (ngSubmit) = formularioActual(formularioPersona)>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input ngModel name="nombre" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">director</label>
        <input name="director" ngModel type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">genero</label>
        <input type="text" ngModel name="genero" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" [disabled]='!formularioPersona.valid' class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col col-md-2">

    <p>datos form: {{formularioPersona.value | json}}</p>
    <p>Valido: {{formularioPersona.valid}}</p>
    <p>Errores: {{formularioPersona.errors | json}}</p>

  </div>
</div>



